#tooltip {
    background-color: #EEE;
    display: inline-block;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border: 1px solid;
    border-color: #3333FF;
    border-radius: 15px;
    display: none;
}

#dialog-form{
    display: none;
}

#annoText{
    font-weight: bold;
    font-style: italic;
}